.weather {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-main {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  &-heading {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
  }
  &-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    transition: all 0.2s linear;
    &:focus {
      border-color: #2cccff;
    }
  }
}
