.weather {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding: 15px;
  &-app {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
  }
  &-main {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    &--img {
      img {
        border-radius: 10px;
      }
    }
  }
  &-heading {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff512f, #f09819);
    background: linear-gradient(to right, #ff512f, #f09819);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    transition: all 0.2s linear;
    margin-bottom: 20px;
    &:focus {
      border-color: #2cccff;
    }
  }
  &-content {
    text-align: center;
  }
  &-date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #000;
  }
  &-national {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &-forecast {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 50px;
  }
  &-temp {
    font-size: 45px;
    font-weight: 600;
  }
  &-image {
    height: 150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-menu {
    background-color: #ccc;
    width: 100%;
    padding: 10px;
  }
}
