.weather {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-main {
    max-width: 700px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
}
